In [40]:

import pandas as pd
import matplotlib.pyplot as plt



# from sklearn.linear_model import LinearRegression
# from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'matplotlib'

In [10]:
data=pd.read_csv("./data.csv")
data

    Height  Weight
0     1.47   52.21
1     1.50   53.12
2     1.52   54.48
3     1.55   55.84
4     1.57   57.20
5     1.60   58.57
6     1.63   59.93
7     1.65   61.29
8     1.68   63.11
9     1.70   64.47
10    1.73   66.28
11    1.75   68.10
12    1.78   69.92
13    1.80   72.19
14    1.83   74.46